// Specific CSS for your home-page
.pages-home {
  background-image: asset-url("fondhome2.jpg");
  background-size: cover;
  background: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 550px;
  margin-top: 5vh;
  position: relative;
  left: 280px;
  top: 260px;
  box-sizing: border-box;
  color: #16F4D0;
  text-shadow: 1px 1px 2px black;
}

.btn-home {
  color: white;
  border: none;
  width: auto;
  height: auto;
  padding: 10px 40px;
  outline: none;
  font-size: 15px;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.container2 .simple_form {
  background-color: rgba(21,59,80,0.6);
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  border: 2px solid #16F4D0;
  margin-top: 20px;
}

.container2 .form-group {
  display: flex;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  color: #16F4D0;
}


.container2 .btn {
  display: flex;
  color: white;
  border: none;
  width: auto;
  height: auto;
  margin-top: 20px;
  padding: 10px 40px;
  outline: none;
  font-size: 15px;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
  text-align: center;
  margin-left: 66px;
}

input[type="checkbox"] {
  display: none;
}

input[type="radio"] {
  display: none;
}
input[type="checkbox"] + label[for="criterium_platforms_nfx"] {
  background-image: asset-url("netflix1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;

}
input[type="checkbox"]:checked + label[for="criterium_platforms_nfx"] {
transform: scale(1.1);
filter: grayscale(0);
border: solid 1px #16F4D0;
}


input[type="checkbox"] + label[for="criterium_platforms_dnp"] {
  background-image: asset-url("disney1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;

}
input[type="checkbox"]:checked + label[for="criterium_platforms_dnp"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;

}

input[type="checkbox"] + label[for="criterium_platforms_itu"] {
  background-image: asset-url("musique1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;

}
input[type="checkbox"]:checked + label[for="criterium_platforms_itu"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;

}


input[type="checkbox"] + label[for="criterium_platforms_ocs"] {
  background-image: asset-url("ocs1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;

}
input[type="checkbox"]:checked + label[for="criterium_platforms_ocs"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;

}

input[type="checkbox"] + label[for="criterium_platforms_prv"] {
  background-image: asset-url("prime1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}
input[type="checkbox"]:checked + label[for="criterium_platforms_prv"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;


}

input[type="checkbox"] + label[for="criterium_platforms_cpd"] {
  background-image: asset-url("canal1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;

}
input[type="checkbox"]:checked + label[for="criterium_platforms_cpd"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="radio"] + label[for="criterium_rating_4"] {
  background-image: asset-url("navet.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="radio"]:checked + label[for="criterium_rating_4"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="radio"] + label[for="criterium_rating_6"] {
  background-image: asset-url("popcorn.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="radio"]:checked + label[for="criterium_rating_6"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="radio"] + label[for="criterium_rating_8"] {
  background-image: asset-url("cerises.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="radio"]:checked + label[for="criterium_rating_8"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}


.label {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.input {
  margin-right: 50%;
  margin-top: 8px;
  width: 100%;
  justify-content: space-around;
}

.col-form-label {
  display: none;
}

.criterium_platforms {
  justify-content: space-around;
  margin-right: 32px !important;
}

.criterium_rating {
  justify-content: space-around;
}

.criterium_duration {
  justify-content: space-around;
}

.form-check {
  padding-left: 0;
}
