// Specific CSS for your home-page
.pages-home {
  background-image: asset-url("fondhome2.jpg");
  background-size: cover;
  background: cover;
  background-repeat: no-repeat;
}

.container {
  margin: 0 auto;
  max-width: 550px;
  position: relative;
  left: 280px;
  top: 260px;
  box-sizing: border-box;
  color: #16F4D0;
  text-shadow: 1px 1px 2px black;
}

.btn-home {
  color: white;
  border: none;
  width: auto;
  height: auto;
  padding: 10px 40px;
  outline: none;
  font-size: 15px;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
}

.container2 .simple_form {
  background-color: rgba(21,59,80,0.6);
  padding: 20px;
  padding-top: 0px;
  border-radius: 5px;
  border: 2px solid #16F4D0;
  margin-top: 20px;
}

.container2 .form-group {
  display: flex;
  margin: 0 auto;
  max-width: 550px;
  margin-top: 20px;
  position: relative;
  box-sizing: border-box;
  color: #16F4D0;
}

.container2 .btn {
  display: flex;
  color: white;
  border: none;
  width: auto;
  height: auto;
  margin-top: 20px;
  padding: 10px 40px;
  outline: none;
  font-size: 15px;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
  text-align: center;
  margin-left: 66px;
}

.label {
  display: block;
  text-align: center;
  margin-top: 8px;
}

.input {
  margin-right: 50%;
  margin-top: 8px;
  width: 100%;
  justify-content: space-around;
}

.col-form-label {
  display: none;
}

#canvas {
  position: absolute;
  top: 0;
}
.criterium_platforms {
  justify-content: space-around;
  margin-right: 32px !important;
}

.criterium_rating {
  justify-content: space-around;
}

.criterium_duration {
  justify-content: space-around;
}

.form-check {
  padding-left: 0;
}
