.body-index {
  background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), image-url('mars-attack.jpg');
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - 56px);
  padding-bottom: 16px;
}

.title h1 {
  padding-top: 32px;
  color: #16F4D0;
  text-shadow: 1px 1px 2px black;
  font-size: 36px;
  text-align: center;
  padding-bottom: 32px;
}

.button-select-class {
  display: flex;
  justify-content: space-evenly;
  margin-right: 16px;
  margin-left: 16px;
}

.button-select a {
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #16F4D0;
  padding: 10px 40px;
  color: white;
  background-color: #163B50;
  font-size: 15px;
  text-align: center;
}

.infos-movie {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 8px;
  margin-top: 40px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 5px;
}

.infos-movie img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid #16F4D0;
}

.infos-movie img:hover {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid white;
}

.flip-card-back ul {
  margin: 8px;
  padding: 8px;
}

.ul-title {
  color: #16F4D0;
  font-size: 36px;
  text-align: center;
  text-shadow: 1px 1px 2px black;
}

.ul-synospis {
  overflow: scroll;
  color: white;
}

.vue_id {
  height: 100%;
  width: 100%;
  border: 2px solid #16F4D0;
  border-radius: 5px;
  color: white;
  padding-top: 16px;
  padding-inline-start: 0px;
  background: linear-gradient(90deg, rgba(21,59,80,1) 0%, rgba(21,59,80,0.5) 0%);
}

.vue_id:hover {
  border: 2px solid white;
}

.redirect-to a {
  text-decoration: none;
  color: #16F4D0;
  font-size: 24px;
  text-shadow: 1px 1px 2px black;
}

.redirect-to a:hover {
  color: white;
}




