.r2d2 {
    -webkit-animation: mover 4s infinite  alternate;
    animation: mover 4s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-450px); }
}
@keyframes mover {
    0% { transform: translateX(0); }
    100% { transform: translateX(-450px); }
}

.r2d2 {
  position: absolute;
  top: 46px;
  left: 880px;
}

.main-container {
  background-color: #153B50;
  opacity: 0.9;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #16F4D0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 220px;
  --x: 423px;
  --y: 265px;
  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;

  border: 2px solid transparent;
  background: linear-gradient(#153B50, #153B50) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #153B50, #16F4D0) border-box;
  }

.devise-sessions-new{
  background-image: url(https://images.unsplash.com/photo-1539321908154-04927596764d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom 70px;

}

.devise-sessions-new .navbar{
  display:none;
}


.devise-sessions-new .simple_form {
  width:100%;
}

.devise-sessions-new .form-inputs {
  width:100%;
}

.devise-sessions-new .form-control{
  background-color: #153B50;
  border:2px solid #16F4D0;
  border-radius: 5px;
}

.devise-sessions-new .form-control:focus{
  background-color: #153B50;
}

#log {
  margin-bottom: 25px;
  color: white;
}

.devise-sessions-new #user_email, #user_password {
  color: white;
}

.devise-sessions-new .form-group {
  color: white;
}

.devise-sessions-new .form-actions {
  border:2px solid #16F4D0;
  width: fit-content;
  margin: 0 auto;
  border-radius: 5px;
}

.devise-sessions-new .form-actions input{
  color: white;
}

.devise-sessions-new .ex {
  display: flex;
  justify-content: space-between;
}

.devise-sessions-new .ex a {
  color: white;
}

.form-inputs input::placeholder {
  color: #8baece;
}

