.criteria-selection{
  display: flex;
  min-width: fit-content;
  color: white;
  margin-left: 20px;
  margin-top: 30px;
}

.criteria-selection h4{
  margin-right: 30px;
}

.criteria-selection h5 {
  margin-top: 4px;
  margin-right: 10px;
}
.criteria-selection p {
  margin-top: 5px;
  margin-right: 30px;
}

.movie-dcp {
  margin-left : 20px;
  margin-top: 20px;
  padding-right: 20px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  color:white;
}

.sans-interet{
  overflow-y: scroll;
}

.movie-dcp p {
margin-bottom: 0;
}

#actor{
  display: flex;
  margin-bottom: 1rem;
}


#img {
  height: 100%;
  }

.desc {
  margin-bottom: 1rem;
}

.desc_logo {
  margin-bottom: 1rem;
}

.logoimdb {
  width: 50%;
  height: 50%;
}

.logoimdb img {
  width: 19%;
}

.movie-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: 30px;
}

.movie-btn form {
  margin-bottom: 30px;
}


.movie-ctn{
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
  width : 70%;
  min-height: 80vh;
  display: flex;
  background: linear-gradient(90deg, rgba(0,0,0,0.15) 0%, rgba(21,59,80,0.9486169467787114) 0%);
  border: 2px solid #16F4D0;
  border-radius: 5px;
}

#barre {
  border-bottom:  1px solid #16F4D0;
  margin-left: 20px;
  margin-right: 20px;
}

.btn-conjoint{
  display: flex;
  justify-content: space-evenly;
}

input[type="submit"]:nth-child(4){
  color: white;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
}

input[type="submit"]:nth-child(5){
  color: white;
  background-color: #153B50;
  border: 2px solid #16F4D0;
  border-radius: 5px;
}

.date {
  font-size: 24px;
}


.movies-show .footer{
  background: linear-gradient(90deg, rgba(0,0,0,0.15) 0%, rgba(21,59,80,0.9486169467787114) 0%);
}

.rating {
  margin-bottom: 2rem;
  }

@media (max-width: 1400px) {
  body {
    padding: 0 20px;
  }
  .movie-ctn{
    width : 100%;
  }
}

@media (max-width: 1020px) {
  .movie-ctn{
    width: 100%;
    display:block;
  }
  .movie-ctn #img {
    display: flex;
    justify-content: center;
  }
}
