.devise-registrations-new .navbar {
  display: none;
}

.deadpool {
  position: absolute;
  top: 10px;
  left: 470px;
}

.ctn-sign {
  background-color: #153B50;
  opacity: 0.9;
  display: flex;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  border: 2px solid #16F4D0;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 190px;
  margin-bottom: 60px;

  --x: 423px;
  --y: 265px;
  position: relative;
  appearance: none;
  padding: 1em 2em;
  color: white;
  cursor: pointer;
  outline: none;
  border-radius: 5px;

  border: 2px solid transparent;
  background: linear-gradient(#153B50, #153B50) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #153B50, #16F4D0) border-box;
  }

.devise-registrations-new{
  background-image: url(https://images.unsplash.com/photo-1568111561564-08726a1563e1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3292&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.ctn-sign .simple_form {
  width:100%;
}

.ctn-sign .form-inputs {
  width:100%;
}

#sign {
  color: white;
}

.ctn-sign .form-control{
  background-color: #153B50;
  border:2px solid #16F4D0;
  border-radius: 5px;
}

.ctn-sign .form-control:focus{
  background-color: #153B50;
}

.devise-registrations-new .form-actions .submit{
  border:2px solid #16F4D0;
  width: fit-content;
  border-radius: 5px;
  padding-right: 0;
}


.devise-registrations-new #user_email{
  color: white;
}
.devise-registrations-new #user_password_confirmation{
  color: white;
}
.devise-registrations-new .form-group {
  color: white;
}

.devise-registrations-new .form-actions input{
  color: white;
}

.form-actions{
  display: flex;
    justify-content: space-between;
}

.devise-registrations-new .form-actions .links {
  margin-top: 12px;
}

.links a {
  color: white;
}








