<div class="footer">
  <div class="first-lign">
    <div class="footer-coordonate">
      Ichooze Co. 20 Capucins's street - Lyon, France
    </div>
    <div class="symbols">
      ||
    </div>
    <div class="footer-thanks">
      Thanks for choosing with us ! You'll be back...
    </div>
  </div>
  <div class="footer-text-imdb">
    This product uses the TMDb API but is not endorsed or certified by TMDb
  <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_square_2-d537fb228cf3ded904ef09b136fe3fec72548ebc1fea3fbbd1ad9e36364db38b.svg" alt="the movie db" width="20" height="20">
  </div>
</div>
