<div class="body-index">
  <div class="title">
    <h1>Your Library</h1>
  </div>

  <div class="button-select-class">
    <div class="button-select">
      <%= link_to "#{current_user.conjoint1}'s Movies", vues_path(conjoint1: true)  %>
    </div>
    <div class="button-select">
      <%= link_to " #{current_user.conjoint2}'s Movies", vues_path(conjoint2: true)  %>
    </div>
    <div class="button-select">
      <%= link_to 'Your Movies', vues_path  %>
    </div>
  </div>

    <div class="image-movie">
      <% @vues.each do |vue| %>
        <ul>
        <%= image_tag vue.movie.photo_url %>
        </ul>
        <% end %>
    </div>
  </div>
