<body class="<%= body_class %>">
</body>

<div class="container">
  <div class="logo">
    <%= image_tag "logoichoose1.png", alt: "alttext" %>
  </div>
  <br><h1>Join the community</h1>
  <br><p>Spend last time choosing more time watching</p>
  <br><%= link_to 'Join us', movies_show_path, class: "btn btn-home" %>
</div>

