.footer {
  background-color: #163B50;
  text-align: center;
  padding: 6px;
}

.first-lign {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-coordonate {
  font-size: 10px;
  color: white;
}

.footer-text-imdb {
  font-size: 8px;
  color: #1BF4CF;
}

.footer-thanks {
  color: white;
  font-size: 10px;
}

.symbols {
  color: #1BF4CF;
  margin: 0 6px;
}
