input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label[for="criterium_platforms_nfx"] {
  background-image: asset-url("netflix1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_nfx"] {
transform: scale(1.1);
filter: grayscale(0);
border: solid 1px #16F4D0;
}

input[type="checkbox"] + label[for="criterium_platforms_dnp"] {
  background-image: asset-url("disney1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_dnp"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="checkbox"] + label[for="criterium_platforms_itu"] {
  background-image: asset-url("musique1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_itu"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="checkbox"] + label[for="criterium_platforms_ocs"] {
  background-image: asset-url("ocs1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_ocs"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="checkbox"] + label[for="criterium_platforms_prv"] {
  background-image: asset-url("prime1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
  filter: grayscale(1);
  cursor: pointer;
  border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_prv"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}

input[type="checkbox"] + label[for="criterium_platforms_cpd"] {
  background-image: asset-url("canal1.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat;
  font-size: 0;
  padding: 20px;
    filter: grayscale(1);
    cursor: pointer;
    border-radius: 5px;
}

input[type="checkbox"]:checked + label[for="criterium_platforms_cpd"] {
  transform: scale(1.1);
  filter: grayscale(0);
  border: solid 1px #16F4D0;
}
