input[value="Watch on netflix"] {
  background-color: red;
  color: white;
}
input[value="Watch on netflix"]:hover {
  color: white;
}


input[value="Watch on primevideo"] {
  background: linear-gradient(45deg, rgba(1,41,98,1) 0%, rgba(50,192,233,1) 100%);
  color:white;
}
input[value="Watch on primevideo"]:hover {
  color: white;
}
input[value="Watch on amazon"] {
  background: linear-gradient(45deg, rgba(1,41,98,1) 0%, rgba(50,192,233,1) 100%);
}
input[value="Watch on amazon"]:hover {
  color: white;
}

input[value="Watch on disneyplus"]{
  background: linear-gradient(45deg, rgba(5,7,38,1) 0%, rgba(8,75,157,1) 100%);

}
input[value="Watch on disneyplus"]:hover {
  color:white;
}


input[value="Watch on itunes"] {
  background-color: black;
  color: white;
}
input[value="Watch on itunes"]:hover {
  color: white;
}


input[value="Watch on go.ocs"] {
  background-color: black;
  color: orange;
}
input[value="Watch on go.ocs"]:hover {
  color: orange;
}

input[value="Watch on canalplus"] {
  background-color: black;
  color: white;
}
input[value="Watch on canalplus"]:hover {
  color: white;
}







